<ul>
<% @attendees.each do |attendee| %>
	<li>
		<%= attendee.name %>
		<%= link_to 'show', event_attendee_path(@event, attendee) %>
		<%= link_to 'edit', edit_event_attendee_path(@event, attendee) %>
		<%= button_to 'destory', event_attendee_path(@event, attendee), :method => :delete, data: { confirm: 'Are you sure?' } %>
	</li>
<% end %>
</ul>
<%= link_to 'new', new_event_attendee_path(@event) %>
<%= link_to 'back', events_path %>
