<ul>
<% @events.each do |event| %>
	<li>
	<%= event.name %>
    <%= link_to 'Show', event_path(event)%>
    <%= link_to 'Edit', edit_event_path(event)%>
	<%= link_to " (XML)", event_path(event, :format => :xml) %>
    <%= link_to " (JSON)", event_path(event, :format => :json) %>
    <%= button_to 'Delete', event_path(event), :method => :delete, :data => { :confirm => "Are you sure?" } %>
	<%= link_to 'attendees', event_attendees_path(event) %>
	<%= link_to 'location', event_location_path(event) %>
	</li>
<% end %>
</ul>
<%= paginate @events %>
<%= link_to 'New Event', :controller => 'events', :action => 'new' %>
<%= link_to "Atom feed", events_path(:format => :atom) %>
